/* 
    Document   : compras
    Created on : 27/05/2013, 11:46:48 AM
    Author     : diego
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


#content
{
    width: 800px;
    margin: 0px auto;
}

#top
{
    background-image: url('../img/banner-top.jpg');
    width:800px;
    height: 150px;
}



p
{
    font-weight: bold;
    font-size: 16pt;
    font-family: sans-serif;
}

preg
{
    color: blue;
    font-size: 12pt;
    font-family: sans-serif;
}
   
table
{
    
}

textArea
{
    resize: none;
}

